CSS
h1{
    text-align: center
}
        .red {
           color: red
       }
        .blue {
           color: blue
        }
        .green {
            color: green
        } 


        .big{
            font-size:32px
        }
        .tiny{
            font-size:8px
        }
        h1, .center{
            text-align: center
        }
        .bold{
            font-weight: bold;
        }
        .family{
            font-family: forte
        }
        .multi{
            font-size: 40px;
            color: orange;
            font-weight: bold
        }
        .styledFont{
            font-family: forte;
            color: burlywood;
            font-style: oblique
        }

        img{
            border-style: outset solid;
            border-width: 5px;
            border-color: coral;
        }
